#main h1 {
    color: #E73334;
    font-family: 'Oswald', sans-serif;
}

.fondo-inf {
    background-color: #E73334;
    color: white;
    border-radius: 15px;
}

.fondo-inf h3,
.fondo-inf h2 {
    font-family: 'Oswald', sans-serif;
}

body {
    padding-top: 80px;
    background-color: #3a3a3a;
}